{{{layout}}}

{{{body}}}

  <nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Wotech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/users">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/toolsController">Control de herramientas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/suppliers">Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stock">Stock</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/maps">Planos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clients">Clientes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mi cuenta</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Mis datos</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Cerrar sesión</a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar pedidos" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>

  {{!-- {{#checkResult resultado searchProduct=searchProduct title=title}}
    {{#if message}}
      <h1 class="pb-4 fs-2">Resultado encontrado con: "{{title}}"</h1>
      <p class="pb-4 fs-2">{{message}}</p>
    {{else}} --}}
      <h1 class="pb-4 fs-2">Resultado encontrado con: "{{title}}"</h1>
      <a class="btn btn-primary p-2 mb-3 fs-5" href="/stock">Volver</a>
      <table class="table">
      <thead>
        <tr class="table-primary">
          <th scope="col" class="text-center">ID</th>
          <th scope="col" class="text-center">Producto</th>
          <th scope="col" class="text-center">Descripción</th>
          <th scope="col" class="text-center">Cantidad</th>
          <th scope="col" class="text-center">Contenido c/u Producto</th>
          <th scope="col" class="text-center">Total Contenido</th>
          <th scope="col" class="text-center">Precio De Compra</th>
          <th scope="col" class="text-center">Valor del Stock</th>
          <th scope="col" class="text-center">#</th>
        </tr>
      </thead>
      <tbody>
        {{#each resultado}}
          <tr class="table-secondary">
            <th scope="row" class="text-center">{{this.id_product}}</th>
            <td class="text-center">{{this.name_product}}</td>
            <td class="text-center">{{this.description_product}}</td>
            <td class="text-center">{{this.amount_product}}</td>
            <td class="text-center">{{this.how_much_contains}}</td>
            <td class="text-center">{{this.total_amount_product}}</td>          
            <td class="text-center">${{this.buy_price_product}}</td>
            <td class="text-center">${{this.value_stock}}</td>
            <td class="text-center">
                <a type="button" class="btn btn-warning mb-2" href="/stock/update/{{this.id_product}}">Actualizar</a>
                <a type="button" class="btn btn-danger" href="/stock/delete/{{this.id_product}}">Eliminar</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{!-- {{/if}}
{{/checkResult}} --}}