{{{layout}}}

{{{body}}}

{{#if resultado}}
    <h1 class="pb-4 fs-2">{{title}}</h1>
    <a class="btn btn-primary p-2 mb-3 fs-5" href="/clients">Volver</a>
    <table class="table mt-2">
      <thead>
        <tr class="table-primary">
          <th scope="col" class="text-center">ID</th>
          <th scope="col" class="text-center">Nombre</th>
          <th scope="col" class="text-center">Apellido</th>
          <th scope="col" class="text-center">Tipo de cliente</th>
          <th scope="col" class="text-center">Provincia</th>
          <th scope="col" class="text-center">Direccion</th>
          <th scope="col" class="text-center">Mail</th>
          <th scope="col" class="text-center">Número de teléfono</th>
          <th scope="col" class="text-center">DNI</th>
          <th scope="col" class="text-center">CUIL/CUIT</th>
        </tr>
      </thead>
      <tbody>
        {{#each resultado}}
          <tr class="table-secondary clients">
            <th scope="row" class="text-center">{{this.id_client}}</th>
            <td class="text-center">{{this.name_client}}</td>
            <td class="text-center">{{this.last_name_client}}</td>
            <td class="text-center type_client">{{this.type_client}}</td>
            <td class="text-center">{{this.province_client}}</td>
            <td class="text-center">{{this.direction_client}}</td>          
            <td class="text-center">{{this.mail_client}}</td>
            <td class="text-center">{{this.phone_number_client}}</td>
            <td class="text-center">{{this.dni_client}}</td>
            <td class="text-center">{{this.cuil_or_cuit_client}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <h1 class="pb-4 fs-2">{{title}}</h1>
    <h2>No se encontro nada con "{{searchValue}}" en la base datos</h2>
    <a class="btn btn-primary p-2 mb-3 fs-5" href="/clients">Volver</a>
  {{/if}}