{{{layout}}}

{{{body}}}

    {{#if resultado}}
    <h1 class="pb-4 fs-2">Resultado encontrado con: "{{title}}"</h1>
    <a class="btn btn-primary p-2 mb-3 fs-5" href="/tools">Volver</a>
    <table class="table mt-2">
      <thead>
        <tr class="table-primary">
          <th scope="col" class="text-center">ID</th>
          <th scope="col" class="text-center">Herramienta</th>
          <th scope="col" class="text-center">Descripción</th>
          <th scope="col" class="text-center">Estado</th>
          <th scope="col" class="text-center">Ubicación</th>
          <th scope="col" class="text-center">Donde se está arreglando</th>
          <th scope="col" class="text-center">Cuando se llevo a reparar</th>
          <th scope="col" class="text-center">Cuando ir a buscar</th>
          <th scope="col" class="text-center">#</th>
        </tr>
      </thead>
      <tbody>
        {{#each resultado}}
            <tr class="table-secondary">
          {{#if this.enable_tool}}
              <th scope="row" class="text-center table-success">{{this.id_tool}}</th>
              <td class="text-center table-success">{{this.name_tool}}</td>
              <td class="text-center table-success">{{this.description_tool}}</td>
              <td class="text-center table-success">{{this.status_tool}}</td>
              <td class="text-center table-success">{{this.location_tool}}</td>
              <td class="text-center table-success">{{this.repair_shop_tool}}</td>
              <td class="text-center table-success">{{this.repair_date_tool}}</td>
              <td class="text-center table-success">{{this.search_repair_tool}}</td>          
              <td class="text-center table-success">
                  <a type="button" class="btn btn-warning mb-2" href="/tools/update/{{this.id_tool}}">Actualizar</a>
                  <a type="button" class="btn btn-danger" href="/tools/delete/{{this.id_tool}}">Eliminar</a>
              </td>
            {{else}}
              <th scope="row" class="text-center table-danger">{{this.id_tool}}</th>
              <td class="text-center table-danger">{{this.name_tool}}</td>
              <td class="text-center table-danger">{{this.description_tool}}</td>
              <td class="text-center table-danger">{{this.status_tool}}</td>
              <td class="text-center table-danger">{{this.location_tool}}</td>
              <td class="text-center table-danger">{{this.repair_shop_tool}}</td>
              <td class="text-center table-danger">{{this.repair_date_tool}}</td>
              <td class="text-center table-danger">{{this.search_repair_tool}}</td>          
              <td class="text-center table-danger">
                  <a type="button" class="btn btn-warning mb-2" href="/tools/update/{{this.id_tool}}">Actualizar</a>
                  <a type="button" class="btn btn-danger" href="/tools/{{this.id_tool}}">Eliminar</a>
              </td>
          {{/if}}
            </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
      <h1 class="pb-4 fs-2">Resultado encontrado con: "{{title}}"</h1>
      <h2>No se encontro ningún/a "{{searchValue}}"" con "{{searchProduct}}"" en la base datos</h2>
      <a class="btn btn-primary p-2 mb-3 fs-5" href="/tools">Volver</a>
    {{/if}}