{{{layout}}}

{{{body}}}

  {{!-- {{#checkResult resultado "El objeto" searchProduct=searchProduct}}
    {{#if message}}
      <h1 class="pb-4 fs-2">Resultado encontrado con: "{{"El Objeto"}}"</h1>
      <p class="pb-4 fs-2">{{message}}</p>
    {{else}} --}}
      <h1 class="pb-4 fs-2">Resultado encontrado con: "{{title}}"</h1>
      <a class="btn btn-primary p-2 mb-3 fs-5" href="/stock">Volver</a>
      <table class="table">
      <thead>
        <tr class="table-primary">
          <th scope="col" class="text-center">ID</th>
          <th scope="col" class="text-center">Producto</th>
          <th scope="col" class="text-center">Descripción</th>
          <th scope="col" class="text-center">Cantidad</th>
          <th scope="col" class="text-center">Contenido c/u Producto</th>
          <th scope="col" class="text-center">Total Contenido</th>
          <th scope="col" class="text-center">Precio De Compra</th>
          <th scope="col" class="text-center">Valor del Stock</th>
          <th scope="col" class="text-center">#</th>
        </tr>
      </thead>
      <tbody>
        {{#each resultado}}
          <tr class="table-secondary">
            <th scope="row" class="text-center">{{this.id_product}}</th>
            <td class="text-center">{{this.name_product}}</td>
            <td class="text-center">{{this.description_product}}</td>
            <td class="text-center">{{this.amount_product}}</td>
            <td class="text-center">{{this.how_much_contains}}</td>
            <td class="text-center">{{this.total_amount_product}}</td>          
            <td class="text-center">${{this.buy_price_product}}</td>
            <td class="text-center">${{this.value_stock}}</td>
            <td class="text-center">
                <a type="button" class="btn btn-warning mb-2" href="/stock/update/{{this.id_product}}">Actualizar</a>
                <a type="button" class="btn btn-danger" href="/stock/delete/{{this.id_product}}">Eliminar</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{!-- {{/if}}
{{/checkResult}} --}}