{{{layout}}}

{{{body}}}

  <div class="container my-3">
    <h1 class="mb-2 fs-1">{{title}}</h1>
  </div>
    {{#if resultado}}
    <table class="table mt-2">
      <thead>
        <tr class="table-primary">
          <th scope="col" class="text-center">ID</th>
          <th scope="col" class="text-center">Producto</th>
          <th scope="col" class="text-center">Descripción</th>
          <th scope="col" class="text-center">Cantidad</th>
          <th scope="col" class="text-center">Contenido c/u producto</th>
          <th scope="col" class="text-center">Total Contenido</th>
          <th scope="col" class="text-center">Precio De Compra</th>
          <th scope="col" class="text-center">Valor del Stock</th>
        </tr>
      </thead>
      <tbody>
        {{#each resultado}}
          <tr class="table-secondary">
            <th scope="row" class="text-center">{{this.id_material}}</th>
            <td class="text-center">{{this.name_material}}</td>
            <td class="text-center">{{this.description_material}}</td>
            <td class="text-center">{{this.amount_material}}</td>
            <td class="text-center">{{this.how_much_contains}}</td>
            <td class="text-center">{{this.total_amount_material}}</td>          
            <td class="text-center">${{this.buy_price_material}}</td>
            <td class="text-center">${{this.value_stock}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
      <h1 class="mt-3">{{message}}</h1>
  {{/if}}