{{{layout}}}

{{{body}}}

  <h1 class="my-3">{{title}}</h1>

    <div class="container">
    <div class="row">
      <form action="/products/search/" method="get" class="d-flex">
      <div class="col">
        <label for="browser"class="form-label fs-2">Buscar producto por su</label>
      </div>
      <div class="col-2">
        <select class="form-select col" name="search_type" id="search_type">
          <option value="name_product" selected>Nombre del producto</option>
          <option value="id_product">Id</option>
          <option value="id_tool">Herramientas que usa</option>
          <option value="id_material">Materiales que usa</option>
        </select> 
      </div>
      <div class="col" id="input">
        <input type="text" id="search_value" name="search_value" class="form-input col">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary p-3 fs-4" id="search_button">Buscar</button>
      </div>
      </form>
    </div>
  </div>

  <a type="button" class="btn btn-success" href="/products/create">Crear nuevo producto</a>
  

    {{#if Productos}}
    <table class="table mt-2">
      <thead>
        <tr class="table-primary">
          <th scope="col" class="text-center">ID</th>
          <th scope="col" class="text-center">Producto</th>
          <th scope="col" class="text-center">Imagen</th>
          <th scope="col" class="text-center">Descripción</th>
          <th scope="col" class="text-center">Herramientas que usa</th>
          <th scope="col" class="text-center">Materiales que usa</th>
          <th scope="col" class="text-center">Cantidades</th>
          <th scope="col" class="text-center">#</th>
        </tr>
      </thead>
      <tbody>
        {{#each Productos}}
          <tr class="table-secondary">
            <th scope="row" class="text-center">{{this.id_product}}</th>
            <td class="text-center">{{this.name_product}}</td>
            <td class="text-center">{{this.img_product}}</td>
            <td class="text-center">{{this.description_product}}</td>
            <td class="text-center"><ul class="list-group-flush">{{#each tools}}<li class="list-group-item my-1">{{this.name_tool}}</li>{{/each}}</ul></td>
            <td class="text-center"><ul class="list-group-flush">{{#each stocks}}<li class="list-group-item my-1">{{this.name_material}}</li>{{/each}}</ul></td>
            <td class="text-center"><ul class="list-group-flush">{{#each stocks}}<li class="list-group-item my-1">{{this.product_Stocks_association.how_much_contains_use}}</li>{{/each}}</ul></td>
            <td class="text-center">
                <a type="button" class="btn btn-warning mb-2" href="/products/update/{{this.id_product}}">Actualizar</a>
                <a type="button" class="btn btn-danger" href="/products/delete/{{this.id_product}}">Eliminar</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
      <h1 class="mt-3">{{message}}</h1>
  {{/if}}

  <script type="module" src="/javaScript/products.js"></script>