{{{layout}}}

{{{body}}}

  <h1 class="my-3">{{title}}</h1>
  <a type="button" class="btn btn-success" href="/products/create">Crear nuevo producto</a>

    {{#if Productos}}
    <table class="table mt-2">
      <thead>
        <tr class="table-primary">
          <th scope="col" class="text-center">ID</th>
          <th scope="col" class="text-center">Producto</th>
          <th scope="col" class="text-center">Imagen</th>
          <th scope="col" class="text-center">Descripción</th>
          <th scope="col" class="text-center">Herramientas que usa</th>
          <th scope="col" class="text-center">Materiales que usa</th>
          <th scope="col" class="text-center">Cantidades</th>
          <th scope="col" class="text-center">#</th>
        </tr>
      </thead>
      <tbody>
        {{#each Productos}}
          <tr class="table-secondary">
            <th scope="row" class="text-center">{{this.id_product}}</th>
            <td class="text-center">{{this.name_product}}</td>
            <td class="text-center">{{this.img_product}}</td>
            <td class="text-center">{{this.description_product}}</td>
            <td class="text-center"><ul class="list-group-flush">{{#each tools}}<li class="list-group-item my-1">{{this.name_tool}}</li>{{/each}}</ul></td>
            <td class="text-center"><ul class="list-group-flush">{{#each stocks}}<li class="list-group-item my-1">{{this.name_material}}</li>{{/each}}</ul></td>
            <td class="text-center"><ul class="list-group-flush">{{#each stocks}}<li class="list-group-item my-1">{{this.product_Stocks_association.how_much_contains_use}}</li>{{/each}}</ul></td>
            <td class="text-center">
                <a type="button" class="btn btn-warning mb-2" href="/products/update/{{this.id_product}}">Actualizar</a>
                <a type="button" class="btn btn-danger" href="/products/delete/{{this.id_product}}">Eliminar</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
      <h1 class="mt-3">{{message}}</h1>
  {{/if}}