{{{layout}}}

{{{body}}}

<h1 class="my-2">{{title}}</h1>
<a href="/products" class="btn btn-primary p-2 m-2">Volver</a>
<form action="/products/create" method="post">
  <div class="mb-3">
    <label for="name_product" class="form-label">Nombre del producto*</label>
    <input type="text" class="form-control" id="name_product" name="name_product">
  </div>
  <div class="mb-3">
    <label for="img_product" class="form-label">Imagen del producto</label>
    <input type="text" class="form-control" id="img_product" name="img_product" step="0.01">
  </div>
  <div class="mb-3">
    <label for="description_product" class="form-label">Descripción del producto</label>
    <textarea class="form-control" id="description_product" name="description_product" rows="3"></textarea>
  </div>
  <div class="mb-3 col-5 tools_needed">
    <label class="form-label fs-3">Herramientas Necesarias*</label>
    <div class="row">
      <select class="form-select col" name="tools_needed" id="tools_needed">
        {{#each Herramientas}}
          <option value={{this.id_tool}}>{{this.name_tool}}</option>
        {{/each}}
      </select> 
      <button class="btn btn-info m-2 fs-5 col-1" id="more_tools">+</button>
    </div>
  </div>
  <div class="mb-3 col-5 material_needed">
    <label class="form-label fs-3">Materiales Necesarios*</label>
    <div class="row">
      <select class="form-select col" name="materials_needed" id="materials_needed">
        {{#each Materiales}}
          <option value={{this.id_material}}>{{this.name_material}}</option>
        {{/each}}
    </select> 
    <button class="btn btn-info m-2 fs-5 col-1" id="more_materials">+</button>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Cargar Producto</button>
</form> 