{{{layout}}}

{{{body}}}

  <h1 class="my-2">{{title}}</h1>
  <a href="/products" class="btn btn-primary p-2 m-2">Volver</a>
  <form id="form">
    <div class="mb-3">
      <label for="name_product" class="form-label">Nombre del producto*</label>
      <input type="text" class="form-control" id="name_product" name="name_product">
    </div>
    <div class="mb-3">
      <label for="img_product" class="form-label">Imagen del producto</label>
      <input type="text" class="form-control" id="img_product" name="img_product" step="0.01">
    </div>
    <div class="mb-3">
      <label for="description_product" class="form-label">Descripción del producto</label>
      <textarea class="form-control" id="description_product" name="description_product" rows="3"></textarea>
    </div>
    <div class="mb-3 col-7">
      <label class="form-label fs-3">Herramientas Necesarias*</label>
      <div class="row">
        <select class="form-select col" name="tools_needed" id="tools_needed">
            <option value="selected">Elegír Herramientas</option>          
          {{#each Herramientas}}
            <option value={{this.id_tool}}>{{this.name_tool}}</option>
          {{/each}}
        </select> 
        <button type="button" class="btn btn-info m-2 fs-5 col-1" id="submit_tools" name="choosen_tools">+</button>
      </div>
      <div class="container justify-content-between" id="container_div_tools">
        <ul class="list-group col my-2 justify-content-between" id="choseen_tools">
        </ul> 
      </div>
    </div>
    <div class="mb-3 col-7">
      <label class="form-label fs-3">Materiales Necesarios*</label>
      <div class="row">
        <select class="form-select col" name="materials_needed" id="materials_needed">
            <option value="selected">Elegír Materiales</option>
          {{#each Materiales}}
            <option value={{this.id_material}}>{{this.name_material}}</option>
          {{/each}}
      </select> 
        <input type="number" class="form-control col mx-2" id="how_much_contains">          
        <button type="button" class="btn btn-info m-2 fs-5 col-1" id="submit_materials" name="choosen_materials">+</button>
      </div>
      <div class="container justify-content-between" id="container_div_materials">
        <ul class="list-group col my-2 justify-content-between" id="choseen_materials">
        </ul> 
      </div>
    </div>
    <button type="submit" class="btn btn-primary" id="submit_form">Cargar Producto</button>
  </form> 

<script type="module" src="/javaScript/pushProduct.js"></script>