{{{layout}}}

{{{body}}}

  <h1>{{title}}</h1>
  <h1 id="{{id}}" class="id_tool">ID: {{id}}</h1>
  <h1>Nombre: {{resultado.name_tool}}</h1>
  <a href="/tools" class="btn btn-primary p-2 m-2">Volver</a>
  <form action="/tools/update/{{resultado.id_tool}}" method="post" id="update_form">
    <div class="mb-3">
      <label for="name_tool" class="form-label">Nombre de la herramienta*</label>
      <input type="text" class="form-control" id="name_tool" name="name_tool" value="{{resultado.name_tool}}" required>
    </div>
    <div class="mb-3">
      <label for="description_tool" class="form-label">Descripción de la herramienta</label>
      <textarea class="form-control" id="description_tool" name="description_tool" rows="3" value="{{resultado.description_tool}}"></textarea>
    </div>
    <div class="mb-3">
      <label for="status_tool" class="form-label">Estado de la herramienta*</label>
      {{#if Habilitado}}
      <select class="form-select col" name="status_tool" id="status_tool" required>
        <option value="Habilitado" selected>Habilitado</option>
        <option value="En Arreglo">En Arreglo</option>
        <option value="Perdido">Perdido</option>
      </select> 
      {{else}}
        {{#if EnArreglo}}
        <select class="form-select col" name="status_tool" id="status_tool" required>
        <option value="Habilitado">Habilitado</option>
        <option value="En Arreglo" selected>En Arreglo</option>
        <option value="Perdido">Perdido</option>
      </select> 
        {{else}}
      <select class="form-select col" name="status_tool" id="status_tool" required>
        <option value="Habilitado">Habilitado</option>
        <option value="En Arreglo">En Arreglo</option>
        <option value="Perdido" selected>Perdido</option>
      </select> 
        {{/if}}
      {{/if}}
    </div>
    <div id="div_arreglo"></div>
    <div class="mb-3">
      <label for="location_tool" class="form-label">Localización*</label>
      <input type="text" class="form-control" id="location_tool" name="location_tool" step="0.01" value="{{resultado.location_tool}}" required>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar herramienta</button>
  </form> 

  <script type="module" src="/javaScript/toolsUpdate.js"></script>